extends layout

block content
  .container
    .row
      .col-md-12
        h1 Welcome to #{title}
        if user
          h3 Hello #{user.username}
          h2
            a(href="/user/#{user.id}") Profile
          h2
            a(href="/signout") Sign Out
        else
          h4 Do we know each other?
          p.
            This was what I wanted to say
            This is crazy buy
            heer
          h3
            a(href="/login") Login
          h3
            a(href="/signup") Sign Up